@model Bitcoin_Bonuses.Models.BitcoinTradingDB
@{
    
}
<table class="bonus">
    <thead class="bonus">
        <tr>
            <th>Country</th>
            <th>Site Banner</th>
            <th>Site</th>
            <th>Bonus</th>
            <th>Type</th>
            <th>Claim Now</th>
            <th>More Info</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bitcoin)
        {
            string row = "even";
            if ((item.RowID) % 2 == 1)
            {
                row = "odd";
            }
            <tr class="@row">
                <td>
                    <img src="@item.FlagIcon" alt="@item.FlagIconAlt" width="40" height="20"/>
                </td>
                <td>
                    <img src="@item.Image"alt="@item.ImageAlt" />
                </td>
                <td>
                    <a href="@item.ClaimNowURL" target="_blank">@item.BonusName</a>
                </td>
                <td>
                    @item.BonusAmt @item.MoreInfo
                </td>
                <td>
                    @item.BonusType
                </td>
                <td>
                    <a href="@item.ClaimNowURL" class="claimMe" target="_blank">Claim Now!</a>
                </td>
                <td>
                    @Html.ActionLink("More Info", "_FeaturedDisplayPartial", new { id = item.Id }, new { @class = "moreInfo" })
                </td>

            </tr>
        
        }
    </tbody>
</table>
